In [8]:
# task 1 Create a variable rollno and assign an integer value to it. Print the value of rollno, the id, and the data type.
rollNo = 123

In [9]:

print("Value of rollno:", rollNo)
print("ID of rollno:", id(rollNo))
print("Data type of rollno:", type(rollNo))

Value of rollno: 123
ID of rollno: 140704055874152
Data type of rollno: <class 'int'>

In [10]:
# task 1b, Create a variable firstname and assign a string value to it. Print the value of firstname, the id, and the data type.
firstname = "Pravin"

In [12]:
print("Value :", firstname)
print("ID :", id(firstname))
print("Data type :", type(firstname))

Value : Pravin
ID : 1238677912752
Data type : <class 'str'>

In [13]:
# task1c,Create a variable lastname and assign a string value to it. Print the value of lastname, the id, and the data type.
lastname = "Patil"

In [14]:
print("Value of lastname:", lastname)
print("ID of lastname:", id(lastname))
print("Data type of lastname:", type(lastname))

Value of lastname: Patil
ID of lastname: 1238682865904
Data type of lastname: <class 'str'>

In [21]:
# task1d, Create a variable maxmarks and assign the value 50 to it. Print the value of maxmarks, the id, and the data type
maxmarks = 50
print (maxmarks)
print (id(maxmarks))
print (type(maxmarks))

50
140704055871816
<class 'int'>

In [20]:
# task 2a
# interpretation: it is a correct syntax
var1 = 2
print (var1)

2

In [22]:
# task 2b
# interpretation: it was the wrong syntax we can not start decraring a variable with number.
2var = 2

SyntaxError: invalid decimal literal (136995327.py, line 3)

In [23]:
# task 2c
# interpretation:  it was the wrong syntax we can not use space when decraring variable.
var 1 = 2
print (var 1)

SyntaxError: invalid syntax (963065798.py, line 3)

In [24]:
# task 2d
# interpretation:  it was the wrong syntax we can not use any special characters when decraring a variable.
var$2 = 2

SyntaxError: invalid syntax (2988765989.py, line 3)

In [26]:
                                                   # task 3
  class = 15  # This will cause a SyntaxError
  print("class assigned 15 (shouldn't happen)")
except SyntaxError:
  print("Class is a reserved keyword. Cannot assign a value to it.")

IndentationError: unexpected indent (3814902936.py, line 3)

In [29]:

  Class = 14  # This will cause a SyntaxError
  print("class assigned 14 (shouldn't happen)")
except SyntaxError:
  print("Class is a reserved keyword. Cannot assign a value to it.")

IndentationError: unexpected indent (1523546818.py, line 3)

In [ ]:
 DEF = 13  # This will cause a SyntaxError
  print("DEF assigned 13 (shouldn't happen)")
except SyntaxError:
  print("DEF (uppercase) is a reserved keyword. Cannot assign a value to it.")

In [30]:
def = 12  # This will cause a SyntaxError
  print("def assigned 12 (shouldn't happen)")
except SyntaxError:
  print("def (lowercase) is a reserved keyword. Cannot assign a value to it.")

SyntaxError: invalid syntax (762263568.py, line 1)

In [31]:
  a = TRUE  # This will cause a NameError
  print("a assigned TRUE (shouldn't happen)")
except NameError:
  print("TRUE is not a valid constant. Use True (case-sensitive).")

SyntaxError: invalid syntax (3270431131.py, line 3)

In [32]:
# This line is correct
b = False
print("b assigned False:", b)

b assigned False: False

In [33]:
#task 4a, Create a variable named marks and assign it a float value between 0 and 100. Print the value, the id, and the data type.
marks = 50.5
print("Value of marks:", marks)
print("ID of marks:", id(marks))
print("Data type of marks:", type(marks))

Value of marks: 50.5
ID of marks: 1238631502160
Data type of marks: <class 'float'>

In [34]:
#task 4b, Change the value of marks to any other float value between 0 and 100. Print the value of marks, the id, and the data type.
marks = 50.5  
# Change the value of marks
marks = 87.2

print("Value of marks after change:", marks)
print("ID of marks (after change):", id(marks))  
print("Data type of marks:", type(marks))

Value of marks after change: 87.2
ID of marks (after change): 1238695411440
Data type of marks: <class 'float'>

In [ ]:
#task 4c,Is the id for the marks variable in the last two questions the same or different? Explain with justification.

# interpretation: In the last two questions the ID for the marks variable is different becouse:
#Floats are Immutable
#Reassignment Creates a New Object
#ID Reflects Memory Address

In [40]:
#task5a, Define a variable maxmarks and assign it the value 100. Divide marks by maxmarks. Print the output as a percentage
maxmarks = 100

percentage = marks / maxmarks * 100 
print(percentage)

87.2

In [42]:
#task5b, Print the value of the variable fullname by joining firstname and lastname.
print(firstname + " " + lastname)

Pravin Patil

In [55]:
#task5c, Print the value of the variable fullname with the text "scored", followed by the percentage of marks.
print(firstname + " " + lastname + " " + "scored" , percentage)

Pravin Patil scored 87.2
87.2

In [56]:
                                          # task 6
print( 1  + "2")
#TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
print(" 1 "+"2")
# String concatenation, Python treats the entire expression within double quotes as a string literal.

 1 2

In [58]:
print(1/2)
#In Python, dividing integers by integers performs floating-point division. This means the result is a float, even though the operands are integers.

0.5

In [59]:
1//2
#The double forward-slash (//) operator performs integer division in Python.

0

In [60]:
                                          # task 7
result = True and True
print( result) 
# interpretation: The and operator returns True only if both operands are True. In this case, both operands are True, so the result is True.

True and True: True

In [61]:
result = True and False
print( result)  
# interpretation:  The and operator returns False if at least one operand is False. Here, False is present, so the overall result is False.

False

In [64]:
result = False or True
print( result) 
# interpretation: The or operator returns True if at least one operand is True. Since True is present in this case, the result is True.

True

In [63]:
result = False or False
print( result)
# interpretation: The or operator returns False only if both operands are False. Here, both operands are False, so the result is False.

False

In [87]:
                                                 # task 8
#8a) Compare firstname and fullname using the "in" operator. Print and explain the output.

if firstname in fullname:
  print(f"'{firstname}' is present within '{fullname}'.")
else:
  print(f"'{firstname}' is not present within '{fullname}'.")
#The in operator checks if a substring (smaller string) exists within a larger string. In this case, it checks if firstname (substring) is present anywhere within fullname (larger string).

'Pravin' is present within 'Pravin Patil'.

In [92]:
#b) Compare firstname and fullname using the "is" operator. Print and explain the output.
if firstname is fullname:
  print(f"'{firstname}' and '{fullname}' refer to the same object in memory.")
else:
  print(f"'{firstname}' and '{fullname}' are different objects in memory.")

#The is operator checks if two variables refer to the exact same object in memory. It's primarily used for object identity, not string content comparison.
#ex:
if firstname is fullname:
    print ( "result" + firstname)
else:
    print("different")

'Pravin' and 'Pravin Patil' are different objects in memory.

In [93]:
                                                 # task 9
a = 4
b = 3
c = 2

d = a**b + c # 4*4*4 then + 2
e = a**(b + c) # 3+2=5 then 4*4*4*4*4
print("Value of d:", d)
print("Value of e:", e)
#The values of d and e are different because of the order of operations
# Order of operations: exponentiation before addition

Value of d: 66
Value of e: 1024