In [1]:
#                                        sprint 4
#Q1,Factorial of a Number
n = int(input("enter number"))
factorial = 1
k=n
while(k>0):
    factorial *= k
    k=k-1
print(f"The factorial of {n} is {factorial}")

enter number 6

The factorial of 6 is 720

In [6]:
#Q2,Prime Numbers, Create a program that uses "while" loop to check if 50 and 51 are prime numbers.

def is_prime(n):
    if n <= 1:
        return False
    i = 2
    while i * i <= n:
        if n % i == 0:
            return False
        i += 1
    return True

number1 = 50
if is_prime(number1):
    print(f"{number1} is a prime number.")
else:
    print(f"{number1} is not a prime number.")


number2 = 51
if is_prime(number2):
    print(f"{number2} is a prime number.")
else:
    print(f"{number2} is not a prime number.")

50 is not a prime number.
51 is not a prime number.

In [9]:
#Q3, Take input of a five-digit number from the user. Write a program using the "while" loop to calculate the sum of the digits of the number entered by the user.

number = input("Enter a five-digit number: ")
sum_of_digits = 0
num = int(number)

# Calculate the sum of digits using a while loop
while num > 0:
    digit = num % 10 
    sum_of_digits += digit  
    num = num // 10  

print(f"The sum of the digits of {number} is {sum_of_digits}")

Enter a five-digit number:  635

The sum of the digits of 635 is 14

In [10]:
#Q4, Fibonacci Series, Using "while" loop, write a program to display the Fibonacci series up to 7 values.
# Initialize the first two numbers of the Fibonacci series
a, b = 0, 1

# Initialize a counter
count = 0

# Number of values to generate in the Fibonacci series
n = 7

# List to store Fibonacci series
fibonacci_series = []

# Generate Fibonacci series using a while loop
while count < n:
    fibonacci_series.append(a)
    a, b = b, a + b
    count += 1

# Print the Fibonacci series
print("Fibonacci series up to 7 values:", fibonacci_series)

Fibonacci series up to 7 values: [0, 1, 1, 2, 3, 5, 8]

In [15]:
#Q5, Execute the command t1 = t1 t2.Display the ids of both tuples after the above operation.Is there any change in the ids of both tuples? Why or why not?Note: The id() function returns the unique identifier of a variable.

t1 = (1, 2, 3)
t2 = (4, 5, 6)

print("ID of t1 before concatenation:", id(t1))
print("ID of t2 before concatenation:", id(t2))
print(t1)
t1 = t1 + t2

print("ID of t1 after concatenation:", id(t1))
print("ID of t2 after concatenation:", id(t2))
print(t1)

ID of t1 before concatenation: 2139364300352
ID of t2 before concatenation: 2139364299200
(1, 2, 3)
ID of t1 after concatenation: 2139338895904
ID of t2 after concatenation: 2139364299200
(1, 2, 3, 4, 5, 6)

In [16]:
#Q6,What happened to the elements that were common in the two data structures? Provide explanation.Note: Use the "add" function to insert elements into the set. You may use either the "for" loop or the "while" loop to perform this task.Inserting Data Into SetsConsider the following data structures: m = {10, 20, 30, 40, 50} # m is a set n = [33, 40, 55, 60, 70] # n is a list Insert the elements of list n into set m one by one and print the output.What happened to the elements that were common in the two data structures? Provide explanation.Note: Use the "add" function to insert elements into the set. You may use either the "for" loop or the "while" loop to perform this task.

m = {10, 20, 30, 40, 50}
n = [33, 40, 55, 60, 70]

for element in n:
    m.add(element)
print("Set m after inserting elements from list n:", m)

Set m after inserting elements from list n: {70, 10, 20, 30, 33, 40, 50, 55, 60}

In [17]:
#Q7, Iterating Over a Dictionary Data Structure Using "while" loop, create a program that prints those key-value pairs that contain values which are even numbers.
Data_Set = {'Python': 1, 'Data': 2, 'Excel': 3, 'SQL': 4}

for key, value in Data_Set.items():
    if value % 2 == 0:
        print(f"{key}: {value}")

Data: 2
SQL: 4

In [19]:
#Q8, Write a Python program to create a dictionary where the keys are the integers from 1 to 15 and the values are squares of the keys.
D = {}
for i in range(1, 15 + 1):
    D[i] = i ** 2
D.update({100: 10000})
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}